{% extends 'blog/main.html' %} {% block content %} {% for posts in post %}
<br />
<br />
<article class="media content-section">
  <img
    class="rounded-cirlce article-img"
    src="{{ posts.author.profile.image.url }}"
    alt=""
  />
  <div class="media-body">
    <div class="article-metadata">
      <a href="#" class="mr-2">{{posts.author}}</a>

      <small class="text-muted">{{posts.date_posted}}</small>
    </div>
    <h2><a href="#" class="article-title">{{posts.title}}</a></h2>
    <a href="{% url 'update' posts.id %}">
      <p class="article-content">{{posts.content}}</p>
    </a>
  </div>
</article>
{% endfor %} {% endblock content %}
