{% extends 'blog/main.html'%} {% load crispy_forms_tags %} {% block content %}

<div class="content-section">
  <form action="" method="POST">
    {% csrf_token %}
    <br />
    <br />
    <br />
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Login</legend>
      {{form|crispy}}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Login</button>
    </div>
  </form>

  <!-- already signed in part -->
  <div class="border-top pt-3">
    <small class="text-muted"
      >Don't have an Account?
      <a href="{% url 'register' %}" class="ml-2">Sign up Now</a></small
    >
    <!-- <small class="text-muted"> Forgot Password </small> -->
  </div>
  <a href="{% url 'password_reset' %}" class="ml-2">Forgot Password</a>
</div>

{% endblock content %}
